.activitys-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;



}
.cart-container{
   background-color: cornflowerblue;
}

@media screen and (Max-width:576px) {
    .activity-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

@media screen and(Max-width:481px) and (Min-width:768px) {
    .activity-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}